<% include partials/header %>
   <%=title%>
   <h1> API de Gestion de chanson (NodeJS, Express)</h1>
   <a href="/signup">Créer un compte</a>
   <a href="/login">Se connecter</a>
   <a href="/logout"> Se déconnecter</a>
   <a href="/songs"> Voir toutes les chansons</a>
   <a href="/songs/add"> Ajouter une nouvelle chanson</a>
<% include partials/footer %>
