<% include partials/header %>
<%if (err) {%>
   <div style="color:red"><%=err%></div>
<%} %>
<form action="/signup" method="post">
   <div>
       <label>Username:</label>
       <input type="text" name="username"/>
   </div>
   <div>
       <label>Display Name:</label>
       <input type="text" name="displayName"/>
</div> <div>
       <label>Password:</label>
       <input type="password" name="password"/>
   </div>
   <div>
       <input type="submit" value="S’inscrire"/>
   </div>
</form>
<% include partials/footer %>
