<% include partials/header %>
    <h1>All songs</h1>
    <hr/>
    <table>
        <thead>
            <tr>
                <th>
                    Titre
                </th>
                <th>
                    Artiste
                </th>
                <th>
                    Album
                </th>
                <th>
                </th>
            </tr>
        </thead>
        <tbody>

            <% songs.forEach(function(song) { %>
                <tr>
                <td>
                  <%=song.title%>
                </td>
                <td>
                  <%=song.artist%>
                </td>
                <td>
                  <%=song.album%>
                </td>
                <td>
                <a href="/songs/<%=song.id%>"> Détails</a>
                </td>
                </tr>

                <% }); %>
        </tbody>
    </table>
    <% include partials/footer %>
